/* Colors */
:root {
  color-scheme: #b5dfe1;
  }

  /* Primary */
  .primary {
    color: #b5dfe1;
    background-color: #007bff;
    border-color: #007bff;
  }

  .teal {
    color: #b5dfe1;
  }

  .teal2 {
    color: #749193;

  }

  $red: #ff0037;
  $green: #00ff37;
  $teal: #b5dfe1;
  $teal2: #749193;
  $teal3: #4d5d5d;
  $teal4: #2e2e2e;
