// Purpose: Style for allprojects page.
@import "config/colors";
@import "config/fonts";

.allprojbody {
  /* background-color: rgb(36, 36, 36); */

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-left: 120px;
}

.textbubble {
  /* background-color: $teal; */
  color: white;
  padding: 20px;

  margin: 20px;
  font-size: x-large;
  text-align: start;
  width: 90%;
  height: fit-content;
  /* box-shadow: 0 5px 10px 0 rgb(255, 89, 89); */

}

.allprojectsh1 {
  /* background-color: aqua; */
  height: fit-content;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
}

.allprojectsh2 {
  /* background-color: aqua; */
  height: fit-content;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
 .allprojcontainer {
 /*  margin-top: 10px; */
  align-content: center;
 }



.allprojcard {
  top: 10px;
  max-width: 98%;
}

.allprojdescription {
  font-size: x-large;
  margin: auto;
  margin-top: 20px;
}

.h1 {
  font-size: small;
}
