<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>All Projects</title>
<link rel="stylesheet" href="pages/index.css">

</head>

<body class="allprojbody">

 <%#  <h1 class="allprojectsh1">Current Projects:</h1> %>

  <div class="allprojcontainer">
    <div class="allprojcard">
      <div class="textbubble">
        <h1 class="allprojectsh1">The Regal</h1>
        <p class="allprojdescription">
          In crafting the mockup for a fine dining establishment in London, <br>
          the focus was on catering to a high-end and trendy clientele seeking the pinnacle of culinary experiences.<br>
          The website design exudes sophistication and elegance,<br>
          with a sleek layout that captivates visitors from the moment they land on the homepage. <br>
          Central to the design are stunning photography showcasing the restaurant's exquisite dishes,<br>
          ambiance, and attention to detail. </p>
      </div>

      <div class="gallerycontainer">
        <div class="image-gallery">
          <%= image_tag "Regal1b.png", alt: "Description of the image" %>
          <%= image_tag "Regal2b.png", alt: "Description of the image" %>
        </div>


        <p class="allprojdescription">The imagery seamlessly integrates with the carefully chosen branding and typeface, <br>
        creating a cohesive visual identity that speaks to the restaurant's luxury and refinement. <br>
        Every element of the website, from the navigation to the reservation system, <br>
        is crafted with the user experience in mind, ensuring seamless interaction for discerning patrons seeking the best in fine dining.</p>


      <div class="gallerycontainer">
        <div class="image-gallery">
          <%= image_tag "Regal3b.png", alt: "Description of the image" %>
          <%= image_tag "Regal4b.png", alt: "Description of the image" %>
        </div>

    </div>
  </div>

  <h1>Co-Write<h1>







</body>
