.redcontainer {
  /* background-color: rgb(73, 73, 73); */
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 200px;



}

.redbubble {
  width: calc(33.33% - 10px); /* Set the width for three items per row */
  margin-bottom: 20px; /* Add some space between rows */
  box-sizing: border-box; /* Add this to make sure the width includes padding and border */
  padding: 10px;
  /* background-color: #ff103f; */
  border-radius: 10%;
}

.redbubble2 {
  width: calc(33.33% - 10px); /* Set the width for three items per row */
  margin-bottom: 20px; /* Add some space between rows */
  box-sizing: border-box; /* Add this to make sure the width includes padding and border */
  padding: 10px;
  background-color: #ff103f;
  border-radius: 10%;
}
.redtext {
  color: white;
  font-size: 20px;

  text-align: start;
  width: 90%;
  height: fit-content;
  margin: auto;
  margin-top: 50px;

}

.redbubble img {
  max-width: 80%;
  height: auto;
  border-radius: 10%;
  background-color: #ff103f;
  padding: 10px;


}

.redcarpetbanner  {
  width: 90vw;
  height: auto;
  margin-top: 200px;
  margin-bottom: 100px;
 /*  background-color: #ff103f; */
  align-items: center;
  display: flex;
 /*  padding-left: 450px; */


    .img {

      height: auto;
      margin-top: 200px;


    }
}

.h3 {
  text-align: center;
}
